
<div class="col s12 main-content-container">
  <div class="card animated slideInDown">
    <div class="card-content"><span class="card-title black-text content-title">{{classroom.sections[0].contents[0].title}}</span>
      <div id="timer" class="right">{{minutes}} นาที {{seconds}} วินาที</div>
      <course-content-video></course-content-video>
      <course-content-practice></course-content-practice>
      <course-content-test></course-content-test>
    </div>
    <course-content-action></course-content-action>
  </div>
</div>