
<div id="new-classroom" class="col s12 m8 offset-m2 l6 offset-l3 animated slideInDown">
  <div class="card">
    <div class="card-content">
      <div class="card-title black-text">สร้างห้องเรียน</div>
      <form name="createForm">
        <div class="row">
          <div class="input-field">
            <input id="class-title" ng-model="classroom_data.title" type="text" required="required"/>
            <label for="class-title" style="left: 0 !important">ชื่อห้องเรียน</label>
          </div>
          <div class="input-field">
            <input id="class-teachername" ng-model="classroom_data.teacher_name" type="text" required="required"/>
            <label for="class-teachername" style="left: 0 !important">ชื่อครูผู้สอน</label>
          </div>
        </div>
        <div class="row">
          <center><a href="" ng-click="class_image = null" ng-show="class_image" class="fa fa-close fa-2x red-text right"></a><img ng-show="createForm.file.$valid" ngf-thumbnail="class_image" class="thumb"/></center>
          <div class="file-field input-field">
            <div class="btn btn-small waves-effect waves-light orange"><span>เลือกรูป</span>
              <input id="class-image" ngf-select="ngf-select" ng-model="class_image" name="file" type="file" accept="image/*" required="required"/>
            </div>
            <div class="file-path-wrapper">
              <input type="text" placeholder="รูปภาพประจำห้องเรียน" ng-model="class_image.name" disabled="disabled" class="file-path validate"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <select ng-model="classroom_data.subject" required="required" class="browser-default">
              <option disabled="disabled" selected="selected" value="">เลือกวิชา</option>
              <option value="คณิตศาสตร์">คณิตศาสตร์</option>
              <option value="ฟิสิกส์">ฟิสิกส์</option>
              <option value="เคมี">เคมี</option>
              <option value="ชีววิทยา">ชีววิทยา</option>
              <option value="ไม่ระบุ">ไม่ระบุ</option>
            </select>
          </div>
        </div>
        <div class="card-action">
          <center>
            <button type="submit" ng-disabled="!createForm.$valid" ng-click="addClassroom(class_image)" class="btn waves-effect waves-light green">สร้างห้องเรียน</button>
            <button ng-click="hideCreateClassroom()" class="btn waves-effect waves-light red">ยกเลิก</button>
          </center>
        </div>
      </form>
    </div>
  </div>
</div>