
<div ng-repeat="class in user_classrooms" id="edit-classroom-{{class.code}}" class="col s12 m8 offset-m2 l6 offset-l3 animated slideInDown edit-classroom">
  <div class="card">
    <div class="card-content">
      <div class="card-title black-text">แก้ไข ห้องเรียน{{class.title}}</div>
      <form name="createForm">
        <div class="row">
          <div class="input-field"><small for="class-title" style="left: 0 !important" class="grey-text">ชื่อห้องเรียน</small>
            <input id="class-title" ng-model="class.title" type="text" required="required"/>
          </div>
          <div class="input-field"><small for="class-teachername" style="left: 0 !important" class="grey-text">ชื่อครูผู้สอน</small>
            <input id="class-teachername" ng-model="class.teacher_name" type="text" required="required"/>
          </div>
        </div>
        <div class="row">
          <center><a href="" ng-click="class_image = null" ng-show="class_image" class="fa fa-close fa-2x red-text right"></a><img ng-show="class_image == null" ng-src="images/classroom/{{class.image}}" class="thumb"/><img ng-show="createForm.file.$valid" ngf-thumbnail="class_image" class="thumb"/></center>
          <div class="file-field input-field">
            <div class="btn btn-small waves-effect waves-light orange"><span>เลือกรูป</span>
              <input id="class-image" ngf-select="ngf-select" ng-model="class_image" name="file" type="file" accept="image/*"/>
            </div>
            <div class="file-path-wrapper">
              <input type="text" placeholder="รูปภาพประจำห้องเรียน" ng-model="class.image" disabled="disabled" class="file-path validate"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <select ng-model="class.subject" required="required" class="browser-default">
              <option disabled="disabled" selected="selected" value="">เลือกวิชา</option>
              <option value="คณิตศาสตร์">คณิตศาสตร์</option>
              <option value="ฟิสิกส์">ฟิสิกส์</option>
              <option value="เคมี">เคมี</option>
              <option value="ชีววิทยา">ชีววิทยา</option>
              <option value="ไม่ระบุ">ไม่ระบุ</option>
            </select>
          </div>
        </div>
        <div class="card-action">
          <center>
            <button type="submit" ng-disabled="!createForm.$valid" ng-click="editClassroom(class_image,class)" class="btn waves-effect waves-light orange">แก้ไขห้องเรียน</button>
            <button ng-click="hideEditClassroom()" class="btn waves-effect waves-light red">ยกเลิก</button>
          </center>
        </div>
      </form>
    </div>
  </div>
</div>